.main-tables-container{
    display: flex;
    width: 930px;
    margin: 0 auto;
}
.products-card--container {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}
.plams-container--slider{
    justify-content: center;
}